body {
  margin: 0;
  font-family: 'Audi Type', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.footerText {
  color: dimgray;
  font-size: 0.8em;
  text-align: center;
}

.mainBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 80vh;
}
.left, .right {
  flex: 1 1 auto;
  background-color: #fafafa;
}

.content {
  flex: 1 1 70vw;
  background-color: #FFF;
  flex-grow: 1;
  padding: 10px;
}